{% extends 'base.html.twig' %}

{% block title %}Table of planetary statistics{% endblock %}

{% block body %}
    <div>
        <center><h1>Table of planetary statistics</h1></center>
        <div id="react_app"></div>
    </div>
{% endblock %}
